.sidebar
  position: relative
  justify-content: space-between
  display: flex
  flex-direction: column
  background-color: #1c2126
  left: 0
  top: 0
  color: #787878
  height: 100%
  box-sizing: border-box
  padding: 30px 20px
  overflow-y: auto
  //min-height: 820px
  //employer asked min-height
.sidebar__item
  position: relative
  display: flex
  justify-content: center
  cursor: pointer
  &:not(.sidebar__settings)
    margin-bottom: 33px
    padding-bottom: 37px
  &:not(.sidebar__avatar)
    padding-top: 55px

  .sidebar__item-notifications_active
    background-color: #ff503f
    @include item-notifications_circle
  .sidebar__item-notifications
    background-color: #adadad
    @include item-notifications_circle
  .sidebar__item-notifications_empty
    display: none
.sidebar__first-part
  //margin-bottom: 50px
  .sidebar__avatar
    .sidebar__item-notifications_active
      top: 1px
      right: -2px
    .sidebar__item-notifications
      top: 1px
      right: -2px
    &:after
      @include dots_decoration
  .sidebar__my-page-link
    width: 88px
  .sidebar__board
    &:before
      @include sidebar_icon
      content: url('../images/icons/board_icon.png')
    &:after
      @include dots_decoration
  .sidebar__projects
    &:before
      @include sidebar_icon
      content: url("../images/icons/projects_icon.png")
      left: 28px
      width: 33px
      height: 27px
    &:after
      @include dots_decoration
  .sidebar__settings
    margin-bottom: 55px
    &:before
      @include sidebar_icon
      content: url("../images/icons/settings_icon.png")
      left: 23px
.sidebar__second-part


  .sidebar__upgrade
    &:before
      @include sidebar_icon
      content: url("../images/icons/upgrade_icon.png")
      left: 22px
    &:after
      @include dots_decoration
  .sidebar__logout
    margin-bottom: 0
    //doesn't work
    &:before
      @include sidebar_icon
      content: url("../images/icons/logout_icon.png")
      left: 22px
