<div class="dashboard-panel">
    <div class="dashboard-panel__leftside clearfix">
        <a href="#" class="dashboard-panel__button_round-red"></a>
        <a href="#" class="dashboard-panel__button_oval-white">Dashboard</a>
    </div>
    <div class="dashboard-panel__rightside clearfix">
        <a href="#" class="dashboard-panel__button_round-green">
            <div class="dashboard-panel__arrow">

            </div>
        </a>
        <select class="dashboard-panel__user-online" data-users-online="5 User ONLINE">
            <option value=""></option>
            <option value="1">Mark P.</option>
            <option value="2">Marvin S.</option>
            <option value="3">Philip O.</option>
            <option value="3">Benni I.</option>
            <option value="3">Benni F.</option>
        </select>
    </div>
</div>