<div class="member-column">
    <!--first member-->
    <div class="members">
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/markP.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Mark P.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--second member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/marvinS.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Marvin S.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--third member-->
        <div class="member-column__info">
            <figure class="member-column__photo_offline">
                <img src="./images/sebastianK.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p><span class="member-column__name">Sebastian K.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>
        </div>
        <!--fourth member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/markP.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Mark P.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--fifth member-->
        <div class="member-column__info">
            <figure class="member-column__photo_online">
                <img src="./images/philipO.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <div class="member-column__message">
                    <p class="member-column__sentence">
                        <span class="member-column__name">Philip O.</span>
                        add an Image into Worlda
                    </p>
                    <p class="member-column__date">Today, 10:30 PM</p>
                </div>
            </div>
        </div>
        <!--sixth member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/markP.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Mark P.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--seventh member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/benniI.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Benni I.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--eighth member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/benniI.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Benni I.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--ninth member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/markP.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Benni I.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
        <!--tenth member-->
        <div class="member-column__info">

            <figure class="member-column__photo_online">
                <img src="./images/benniI.png" alt="member-photo">
            </figure>
            <div class="member-column__message">
                <p class="member-column__sentence">
                    <span class="member-column__name">Benni I.</span>
                    add an Image into Worlda</p>
                <p class="member-column__date">Today, 10:30 PM</p>
            </div>

        </div>
    </div>
    <div class="member-column__activity">Activity Archiv</div>
</div>