<aside class="sidebar">
    <div class="sidebar__first-part">
        <div class="sidebar__item sidebar__avatar">
            <a href="#">
                <figure class="sidebar__my-page-link">
                    <img src="./images/avatar.jpg" alt="img">
                </figure>
            </a>
            <div class="sidebar__item-notifications_active">2</div>
        </div>
        <div class="sidebar__item sidebar__board">
            Board
            <div class="sidebar__item-notifications_empty">0</div>
        </div>
        <div class="sidebar__item sidebar__projects">
            Projects
            <div class="sidebar__item-notifications">9</div>
        </div>
        <div class="sidebar__item sidebar__settings">Settings</div>
    </div>
    <div class="sidebar__second-part">
        <div class="sidebar__item sidebar__upgrade">
            Upgrade
            <div class="sidebar__item-notifications_active">3</div>
        </div>
        <div class="sidebar__item sidebar__logout">Logout</div>
    </div>
</aside>
