<div class="main-wrap">
    @@include('../templates/_dashboard-panel.html')
    <div class="main-wrap__tabs">
        <div class="main-wrap__tabs__projects">
            Active Projects
            <div class="main-wrap__item-notifications">9</div>
        </div>
        <div class="main-wrap__tabs__messenger">
            Messenger
            <div class="main-wrap__item-notifications_active">2</div>
        </div>
    </div>

    <div class="main__block-wrapper">
        <main class="main">
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">23%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Worlda</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">87%</div>
                    <div class="main__task-title">Create Subpage PSD</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Panorama</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">83%</div>
                    <div class="main__task-title">Layout & implementation in HTML & CSS
                    </div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Ebay Relaunch</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">23%</div>
                    <div class="main__task-title">Lorem ipsum dolor sit amet, elitr, sed diam<br>
                        nonumy eirmod tempor
                    </div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Panorama</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Worlda</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Worlda</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag">Worlda</div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__active-project">
                Project Archiv
            </div>
        </main>

        @@include('../templates/_members_column.html')
    </div>
</div>