<div class="main-container">
    @@include('../templates/_dashboard-panel.html')
    <!--<div class="tabs">-->
    <!--<div class="active-projects">-->
    <!--<span>9</span>-->
    <!--</div>-->
    <!--<div class="messenger">-->
    <!--<span>2</span>-->
    <!--</div>-->
    <!--</div>-->

    <div class="main__block-wrapper">
        <main class="main">
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">23%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">87%</div>
                    <div class="main__task-title">Create Subpage PSD</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">83%</div>
                    <div class="main__task-title">Layout & implementation in HTML & CSS
                    </div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">23%</div>
                    <div class="main__task-title">Lorem ipsum dolor sit amet, elitr, sed diam<br>
                        nonumy eirmod tempor
                    </div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
            <div class="main__task">
                <div class="main__info">
                    <div class="main__ready-percent">98%</div>
                    <div class="main__task-title">Create Contact Formular</div>
                </div>
                <div class="main__actions">
                    <div class="main__tag"></div>
                    <div class="main__show"></div>
                    <div class="main__expand"></div>
                </div>
            </div>
        </main>

        @@include('../templates/_members_column.html')
    </div>
</div>