@mixin sidebar_icon
    position: absolute
    left: 25px
    top: 0
    width: 40px
    height: 40px
@mixin dots_decoration
    position: absolute
    content: url('../../images/trenner.png')
    bottom: 0
    left: 32px
@mixin gray_arrow
    position: absolute
    content: ''
    width: 5px
    height: 5px
    left: 13px
    top: 12px
    border: solid #a6a6a6
    border-width: 0 2px 2px 0
    transform: rotate(-45deg)
@mixin gray_arrow_archiv
    position: absolute
    content: ''
    width: 5px
    height: 5px
    border: solid #a6a6a6
    border-width: 0 2px 2px 0
    transform: rotate(-45deg)
    left: 140px
    top: 27px
@mixin item-notifications_circle
    position: absolute
    top: -20px
    right: 2px
    width: 31px
    height: 31px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35)
    color: #ffffff
    font-size: 16px
    font-weight: 700
    line-height: 37.5px
    letter-spacing: -0.4px
@mixin tabs_messenger_icon
    content: url("../images/icons/messenger.png")
    position: absolute
    left: 34px
    top: 28px
    width: 45px
    height: 27px
@mixin tabs_projects_icon
    content: url("../images/icons/active_projects.png")
    position: absolute
    left: 34px
    top: 21px
    width: 40px
    height: 40px
@mixin ready-percent-block
    display: inline-block
    box-sizing: border-box
    width: 57px
    height: 33px
    background-color: #ff503f
    font-size: 18px
    letter-spacing: -0.45px
    color: #ffffff
    line-height: 20px
    text-align: center
    border-radius: 4px
    padding: 8px 0
    margin-right: 8px